@model IEnumerable<GoogleDrive.Model.GoogleDriveFile>

@{
    ViewBag.Title = "GetAllFile";
}

<h2>GetAllFile</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OriginalFilename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThumbnailLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IconLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WebContentLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.Label(item.OriginalFilename)
            </td>
            <td>
                <img src="@item.ThumbnailLink" height="100" width="100" />
            </td>
            <td>
                <img src="@item.IconLink" />
            </td>
            <td>
                <a href="@item.WebContentLink">Download</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "GetFile", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
